/* Basic Setup */
body, header, footer, main, article, #reviews {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

header, footer {
    padding: 20px 20px; /* Uniform padding */
    background-color: #101010; /* Darker shade for distinction */
}

footer {
    border-top: 3px solid #fff;
    border-bottom: none;
}

nav ul, footer ul {
    list-style: none;
    padding: 0; /* Remove default padding */
}

nav ul li, footer ul li {
    display: inline;
    margin: 0 10px; /* Consistent margin */
}

nav ul li a, footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    border: 2px solid #fff;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555; /* Lighter background on hover */
    color: #fff;
    border-color: #888;
}

main, article {
    background-color: #222;
    padding: 20px;
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    box-shadow: 0 0 10px #000; /* Adding subtle shadow */
}

article {
    background-color: #333;
    border: 1px solid #fff;
}

#reviews {
    background-color: #222;
    padding: 20px;
}

.review {
    background-color: #333;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
}

#about {
    margin-bottom: 40px; /* Increase bottom margin to create more space */
}



#events {
    margin-top: 50px; /* Increased distance from the text above */
}

#events ul {
    list-style-type: none; /* Remove default list styling */
    padding-left: 0; /* Align with the left edge */
}

#events li {
    background-color: #333; /* Optional: adds a background to each event */
    padding: 10px; /* Adds space inside each event item */
    margin-bottom: 20px; /* Adds space between event items */
    border: 1px solid #fff; /* Optional: adds a border to each event item */
}

.review h3, article h3, section#news h2, section#reviews h2 {
    font-size: 1.2em;
    color: #FFD700; /* Gold color for headers */
}

.review p, article p {
    line-height: 1.6;
    color: #ccc; /* Lighter text color for better readability */
}

footer a {
    color: #999;
    text-decoration: underline; /* Underline to signify link */
}

footer a:hover {
    color: #fff; /* White color on hover for visibility */
}
