/* Setting the basic styles for the website */
body, header, footer, main, article, #reviews {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

header, footer {
    padding: 20px 20px; /* Uniform padding */
    background-color: #101010;
}

footer {
    border-top: 3px solid #fff;
    border-bottom: none;
}

ul, ol {
    list-style-type: none;
}

nav ul, footer ul {
    list-style: none;
    padding: 0; /* Removes default padding */
}

nav ul li, footer ul li {
    display: inline;
    margin: 0 10px; /* Consistent margin */
}

nav ul li a, footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px; /* Increased to create rounded corners */
    border: 2px solid #fff;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555; /* Lighter background on hover for consistency */
    color: #fff;
    border-color: #888;
}

main, article {
    background-color: #222;
    padding: 20px;
    width: 80%;
    max-width: 960px;
    margin: 20px auto;
    box-shadow: 0 0 10px #000; /* Subtle shadow behind articles */
}

article {
    background-color: #333;
    border: 1px solid #fff;
}

#reviews {
    background-color: #222;
    padding: 20px;
}

.review {
    background-color: #333;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
}

#about {
    margin-bottom: 40px; /* Increase bottom margin to create more space to create a fat footer */
}

#events {
    margin-top: 50px; /* Increased distance from the text above to create a clear distinction */
}

#events ul {
    list-style-type: none; /* Remove default list styling to get rid of bulletpoints */
    padding-left: 0; /* Align itself on the left */
}

#events li {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.review h3, article h3, section#news h2, section#reviews h2 {
    font-size: 1.2em;
    color: #FFD700; /* Gold color for headers to create a clear distinction between individual articles */
}

.review p, article p {
    line-height: 1.6;
    color: #ccc; /* Lighter text color for better readability */
}

a {
    color: #999;
    text-decoration: underline; /* Underline to signify link */
}

a:hover {
    color: #fff; /* White color on hover for visibility */
}